body{
    background-color: rgba(128, 128, 128, 0.56);
    color: #dedede;
}

#content{
    display: none;
}

#weatherRender th{
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    #weatherRender th{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #weatherRender th h1{
        font-size: 170px;
    }
    #weatherRender th h3{
        font-size: 120px;
    }
    #weatherRender th h6{
        font-size: 60px;
    }

    #searchInput{
        text-align: center;
        width: 100%;
    }
    #searchInput .mb-3{
        width: 100%;
    }

    .table> tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        border: none;
    }
    body {
        min-height: 100vh;
        max-height: 100px;
        min-height: 100vh;
        background-color: #989696;
        width: 100%;
        height: 100%;
        position:relative;
        overflow-y: scroll;
    }
}
