body {
    min-height: 100vh;
    max-width: 100vh;
    position:relative;
    overflow-y: scroll;
    background: linear-gradient(16deg, #d5e2ff, #006eff);
    background-size: 100vh 100vh;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 3.7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.video-container {
    height: 90vw;
    width: 100vw;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.video-container video {
    position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  
}

#content{
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    display: none;
}

#weatherRender {
    text-align: center;
}

    #weatherRender {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #weatherRender h1{
        padding-bottom: 10px;
        font-size: 15vh;
    }
    #weatherRender  h3{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 7vh;
    }
    #weatherRender  h6{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 3vh;
    }


    .table> tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        border: none;
    }

    #quoteRender h4{
        text-align: center;
        font-family: monospace;
    }




