body {
    background: linear-gradient(120deg, #ff0062, #ff8126, #00ffa8, #00f7ff);
    animation: gradient 8s ease infinite;
    background-size: 10000%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
hr.solid {
    color: #0e131a;
    border-top: 3px solid rgba(14, 19, 26, 0.85);
    width: 66%
}
#quoteButton{
    background: rgba(255, 255, 255, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 100px;
    color: rgba(0, 0, 0, 0.63);
    border-color: #0e131a;
}

.video-container {
    height: 90vw;
    width: 100vw;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.video-container video {
    position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  
}

#content{
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    display: none;
}

#weatherRender {
    margin-top: 50px;
    text-align: center;
}
    #weatherRender h1{
        margin-top: -10px;
        font-size: 15vh;
    }
    #weatherRender  h3{
        font-size: 6vh;
    }
    #weatherRender  h6{
        margin-top: -5px;
        font-size: 3vh;
    }


    .table> tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        border: none;
    }

    #quoteRender h4{
        text-align: center;
        font-family: monospace;
    }




